.icons {
    align-items: center;
    display: flex;

    .icons__cart {
        margin: 0 12px;

        img {
            cursor: pointer;
        }
    }

    .icons__search {
        margin-left: 12px;
        position: relative;

        .icons__img {
            cursor: pointer;
            display: block;
        }

        button {
            -webkit-appearance: none;
            background: none;
            border: none;
            cursor: pointer;
            display: none;
            height: 15px;
            margin: 0;
            padding: 0;
            position: relative;
            width: 16px;
            z-index: 2;

            &:focus {
                outline: none;
            }
        }

        input {
            -webkit-appearance: none;
            border: none;
            border-radius: 22px;
            box-shadow: 0 0 10px 1px $black;
            box-sizing: border-box;
            color: $black;
            font-size: 12px;
            left: -135px;
            line-height: 14px;
            opacity: 0;
            padding: 5px 45px 5px 10px;
            position: absolute;
            top: -5px;
            transition-duration: 0.5s;
            transition-property: opacity;
            width: 170px;
            z-index: -1;
        }
    }

    .icons__search_active {

        .icons__img {
            display: none;
        }

        button {
            display: block;
        }

        input {
            opacity: 1;
            z-index: 1;
        }
    }
}