.offers {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 25px;

    .offers__left, .offers__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .offers__center {
        margin: 0 2.1%;

        .offers__info {
            top: 105px;
        }
    }

    .offers__element {
        position: relative;

        img {
            display: block;
            max-width: 100%;
        }

        .offers__info {
            left: 30px;
            position: absolute;
            z-index: 1;

            .offers__category {
                color: $offers-category;
                font-family: 'Raleway', sans-serif;
                font-size: 13px;
                font-weight: 500;
                letter-spacing: 0.65px;
                line-height: 36px;
            }

            .offers__name {
                color: $offers-name;
                font-size: 19px;
                font-weight: 700;
                letter-spacing: 1.4px;
                line-height: 25px;
                text-transform: uppercase;
            }

            a {
                @include btn();
            }

            p {
                margin: 10px 0;
            }
        }

        .offers__new {
            background-color: $black;
            color: $white;
            font-size: 11px;
            font-weight: 400;
            line-height: 14px;
            padding: 5px 0;
            position: absolute;
            right: 10px;
            text-align: center;
            text-transform: uppercase;
            top: 10px;
            width: 48px;

            &::before {
                border: 10px solid transparent;
                border-left-color: $black;
                bottom: -10px;
                content: "";
                position: absolute;
                left: 0;
            }
        }
    }

    .offers__left {

        .offers__info {
            bottom: 20px;
            left: 0;
            width: 100%;
    
            .offers__two-get {
                color: $offers-name;
                font-size: 22px;
                font-weight: 700;
                letter-spacing: 1.65px;
                line-height: 26px;
                margin: 0;
                text-align: center;
                text-transform: uppercase;
            }

        }
    }

    .offers__right {

        .offers__info {
            top: 64px;

            p {
                margin: 0;
            }
        }

        .offers__element_glasses {

            .offers__info {
                bottom: 7px;
                left: 0;
                top: auto;
                width: 100%;
    
                p {
                    font-size: 13px;
                    font-weight: 700;
                    letter-spacing: 0.65px;
                    line-height: 36px;
                    text-align: center;
                    text-transform: uppercase;
                }
            }
        }
    }
}

@media (max-width: 1024px) {

    .offers {
        flex-wrap: wrap;
        justify-content: center;

        .offers__right {
            display: block;
            flex-basis: 100%;

            .offers__element {
                margin: 15px auto;
                max-width: 371px;
            }
        }

        .offers__center {
            margin-left: 15px;
            margin-right: 0;
        }
    }
}

@media (max-width: 810px) {

    .offers {

        .offers__left {
            display: block;
            flex-basis: 100%;

            .offers__element {
                margin: 15px auto;
                max-width: 277px;
            }
        }

        .offers__center {
            display: block;
            flex-basis: 100%;
            margin: 0;

            .offers__element {
                margin: 0 auto;
                max-width: 470px;
            }
        }
    }    
}

@media (max-width: 768px) {

    .offers {
        margin: 25px 0;

        .offers__center {

            .offers__info {
                top: 50px;
            }
        }

        .offers__right {

            .offers__info {
                top: 15px;
            }
        }
    }
}